--index-url https://download.pytorch.org/whl/cu130
# force cuda 13.0 overall # change based on module/cluster cuda version
gitpython
logging
pyyaml>=6.0.1
torch==2.9.0+cu130
lightning
torchvision>=0.18.0
wandb>=0.17.0
numpy
pykeops
einops
matplotlib
ffmpeg-python
jpcm>=0.1.27
pytest>=9.0
huggingface_hub>=0.24.0
Pillow>=10.2.0
datasets>=2.19.0
omegaconf
hydra-core
datasets
pybind11
helion
# for change tracking
transformers 
accelerate